addons:
  postgresql: "9.4"

before_script:
  - psql -c 'create database sqlalchemy_json_api_test;' -U postgres

language: python
python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4

install:
  - pip install -e .[test]

script:
  - isort --recursive --diff sqlalchemy_json_api tests && isort --recursive --check-only sqlalchemy_json_api tests
  - flake8 sqlalchemy_json_api tests
  - py.test tests
